.page-title {
  margin-top: 7%;
}
.basket-box{
  max-height: 300px;
  overflow-y:scroll;
}
.text-decoration{
  text-decoration:'none'
}
.highlight{
  background-color: lightblue;
}
.orderInfo {
  -webkit-transition: height 2s ease-in
}